---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="project"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <h2>project</h2>
</Layout>
